* {
    margin: 0;
    padding: 0;
}

#banner {
    background:  url(/img/Barber_Shop_img/Barber_Shop_img/banner.jpg) linear-gradient(rgba(0,0,0,0.5), #009688);
    background-size: cover;
    background-position: center;
    height: 100vh;
}